<h1> New Article </h1>
 <%= form_for :article, url: articles_path do |f| %>
   <p>
      <%= f.label :title %> <br>
      <%= f.text_field :title %>
   </p>
      
   <p>
      <%= f.label :text %> <br>
      <%= f.text_area :text %>
   </p>

   <p>
      <%= f.submit %>
   </p>
 <% end %>

 <%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error")%> prohibited this article from being saved:
        </h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
 <% end  %>
 
 <%= link_to 'Back', articles_path %>
    
 <% end %>
